<div class="">
  <h1>
    Информация о программе
    «Участник молодежного научно-инновационного конкурса» («УМНИК»)
  </h1>
  <p>
    Основная цель программы «УМНИК» - поддержка молодых учёных,
    стремящихся реализоваться через инновационную деятельность,
    и стимулирование массового участия молодежи в научно-технической
    и инновационной деятельности, а также стимулирование молодых ученых
    и специалистов к созданию малых инновационных предприятий,
    необходимых для коммерциализации результатов научных разработок.
  </p>
</div>
