<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/player_menu">Меню</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign_out">Выход</a>
  </li>
</ul>
